@using OurRecipes.Models.Recipes;
@model List<RecipeCardViewModel>;
@{
    ViewData["Title"] = "All recipes by category";
}

<section id="recipe-cards" class="cards section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>Our <span>Daily</span> Suggestions</p>
            <h2>Daily recipes</h2>
        </div>
        <div class="row gy-4">
            @foreach (var element in Model)
            {
                <a href="/Recipes/@element.Id" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-member">
                        <div class="member-img">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" class="img-fluid" alt="@element.Title-img">
                        </div>
                        <div class="member-info">
                            <h4>@element.Title</h4>
                            <p>@element.Rating likes</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
