<section id="create-recipe" class="section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <p>Create <span>Your New</span> Recipe</p>
            <h2>New Recipe</h2>
        </div>

        <div class="row gy-4">
            <div>
                <img class="img-fluid cover-img" src="/img/new-recipe-cover.jpg" data-aos-delay="200" />
            </div>

            <div class="row-lg-8 d-flex justify-content-center">
                <form action="forms/book-a-table.php" method="post" role="form" class="form-group" data-aos="fade-up" data-aos-delay="100">
                    <div class="row gy-4">
                        <div class="col-lg-4 col-md-6">
                            <label for="title"><strong>Title</strong></label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="Recipe Title" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="servings"><strong>Servings</strong></label>
                            <select type="text" name="servings" class="form-control" id="servings" placeholder="Number of servings">
                                <option>---</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="prep-time"><strong>Preparation Time</strong></label>
                            <input type="text" name="prep-time" class="form-control" id="prep-time" placeholder="Preparation time (in minutes)" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="cook-time"><strong>Cooking Time</strong></label>
                            <input type="text" name="cook-time" class="form-control" id="cook-time" placeholder="Cook time (in minutes)" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--TODO: Get Categories-->
                            <label for="category"><strong>Category</strong></label>
                            <select type="text" name="category" class="form-control" id="categories" placeholder="Category">
                                <optgroup label="Meal Course">
                                    <option>Breakfast</option>
                                    <option>Brunch</option>
                                    <option>Lunch</option>
                                    <option>Snacks</option>
                                    <option>Dinner</option>
                                </optgroup>
                                <optgroup label="Dish Type">
                                    <option name="meat">Poultry</option>
                                    <option name="meat">Turkey</option>
                                    <option name="meat">Duck</option>
                                    <option name="meat">Beef</option>
                                    <option name="meat">Pork</option>
                                    <option name="meat">Lamb</option>
                                    <option name="fish">Fish</option>
                                    <option name="sea-food">Sea Food</option>
                                    <option>Baked Goods</option>
                                    <option>Pizza</option>
                                    <option>Sandwitches&Wraps</option>
                                    <option>Burgers</option>
                                    <option>Pasta</option>
                                    <option>Sides</option>
                                    <option>Salad</option>
                                    <option>Soup</option>
                                    <option>Dessert</option>
                                    <option>Beverage</option>
                                </optgroup>
                                <optgroup label="Dietary">
                                    <option>Vegan</option>
                                    <option>Vegetarian</option>
                                    <option>Low Carb</option>
                                    <option>Keto</option>
                                </optgroup>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--TODO: add remaining countries-->
                            <label for="cuisine"><strong>Cuisine</strong></label>
                            <select type="text" name="cuisine" class="form-control" id="cuisine" placeholder="Cuisine">
                                <option>American</option>
                                <option>British</option>
                                <option>Bulgarian</option>
                                <option>Italian</option>
                                <option>French</option>
                                <option>Mexican</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="season"><strong>Season</strong></label>
                            <select type="text" name="season" class="form-control" id="season" placeholder="Season">
                                <option>Winter</option>
                                <option>Spring</option>
                                <option>Summer</option>
                                <option>Autumn</option>
                                <option>Christmas</option>
                                <option>Halloween</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="difficulty"><strong>Difficulty</strong></label>
                            <select type="text" name="difficulty" class="form-control" id="difficulty" placeholder="Difficulty">
                                <option>Easy</option>
                                <option>Midium</option>
                                <option>Hard</option>
                                <option>Expert</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--TODO: Get Types of cuisine-->
                            <label for="cooking-style"><strong>Cooking Technique</strong></label>
                            <select type="text" name="cooking-style" class="form-control" id="cooking-style" placeholder="Cooking Style">
                                <option>Roasing</option>
                                <option>Stewing</option>
                                <option>Grilling</option>
                                <option>Baking</option>
                                <option>Braising</option>
                                <option>Steaming</option>
                                <option>Frying</option>
                                <option>Deep Frying</option>
                                <option>Smoking</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="img-url"><strong>Image URL</strong></label>
                            <input type="text" name="img-url" class="form-control" id="img-url" placeholder="Image URL" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label for="ingredients"><strong>Ingredients</strong></label>
                        <textarea class="form-control" name="ingredients" rows="5" placeholder="Products"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label for="instructions"><strong>Instructions</strong></label>
                        <textarea class="form-control" name="instructions" rows="5" placeholder="Instructions"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label for="description"><strong>Descriptioon</strong></label>
                        <textarea class="form-control" name="description" rows="5" placeholder="Descriptioon"></textarea>
                        <div class="validate"></div>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </form>
            </div><!-- End New Recipe Form -->

        </div>

    </div>
</section><!-- End Create a Recipe Section -->
