@using OurRecipes.Models.Recipes;
@model CreateRecipeInputModel;
@{
    int nutrientsIndex = 0;
}
<section id="create-recipe" class="section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <p>Create <span>Your New</span> Recipe</p>
            <h2>New Recipe</h2>
        </div>

        <div class="row gy-4">
            <div>
                <img class="img-fluid cover-img" src="/img/new-recipe-cover.jpg" data-aos-delay="200" />
            </div>

            <div class="row-lg-8 d-flex justify-content-center">
                <form method="post" role="form" class="form-group" data-aos="fade-up" data-aos-delay="100">
                    <div class="row gy-4">
                        <div class="col-lg-4 col-md-6">
                            <label asp-for="Title"><strong>Title</strong></label>
                            <input asp-for="Title" class="form-control" id="title" placeholder="Recipe Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label asp-for="Servings"><strong>Servings</strong></label>
                            <input asp-for="Servings" class="form-control" id="servings" placeholder="Servings">
                            <span asp-validation-for="Servings" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <<label asp-for="PrepTime"><strong> Preparation Time (in minutes)</strong></label>
                            <input asp-for="PrepTime" class="form-control" id="prepTime" placeholder="25">
                            <span asp-validation-for="PrepTime" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <<label asp-for="CookTime"><strong>Cooking Time (in minutes)</strong></label>
                            <input asp-for="CookTime" class="form-control" id="prepTime" placeholder="25">
                            <span asp-validation-for="CookTime" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--TODO: Get Categories-->
                            <label for="category"><strong>Category</strong></label>
                            <select type="text" name="category" class="form-control" id="categories" placeholder="Category" multiple>
                                <optgroup for="category-type" class="form-control" name="category-type" label="Meal Course">
                                    <option>Breakfast</option>
                                    <option>Brunch</option>
                                    <option>Lunch</option>
                                    <option>Snacks</option>
                                    <option>Dinner</option>
                                </optgroup>
                                <optgroup label="Dish Type">
                                    <option>Baked Goods</option>
                                    <option>Beverages</option>
                                    <option>Burgers</option>
                                    <option>Desserts</option>
                                    <option>Casserole</option>
                                    <option>Fish</option>
                                    <option>Meat: Beef</option>
                                    <option>Meat: Duck</option>
                                    <option>Meat: Lamb</option>
                                    <option>Meat: Pork</option>
                                    <option>Meat: Poultry</option>
                                    <option>Meat: Turkey</option>
                                    <option>Pasta</option>
                                    <option>Pizza</option>
                                    <option>Salad</option>
                                    <option>Sandwitches&Wraps</option>
                                    <option>Sea Food</option>
                                    <option>Sides</option>
                                    <option>Soup</option>
                                </optgroup>
                                <optgroup label="Dietary">
                                    <option>Keto</option>
                                    <option>Low Carb</option>
                                    <option>Vegan</option>
                                    <option>Vegetarian</option>
                                </optgroup>
                                <optgroup label="Holiday">
                                    <option>Christmas</option>
                                    <option>Halloween</option>
                                    <option>Thanksgiving</option>
                                    <option>Valentine's Day</option>
                                </optgroup>
                                <option>Healthy</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--TODO: add remaining countries-->
                            <label for="cuisine"><strong>Cuisine</strong></label>
                            <select type="text" name="cuisine" class="form-control" id="cuisine" placeholder="Cuisine">
                                <option>American</option>
                                <option>British</option>
                                <option>Bulgarian</option>
                                <option>Italian</option>
                                <option>French</option>
                                <option>Mexican</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="season"><strong>Season</strong></label>
                            <select type="text" name="season" class="form-control" id="season" placeholder="Season">
                                <option>Winter</option>
                                <option>Spring</option>
                                <option>Summer</option>
                                <option>Autumn</option>
                                <option>Christmas</option>
                                <option>Halloween</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="difficulty"><strong>Difficulty</strong></label>
                            <select type="text" name="difficulty" class="form-control" id="difficulty" placeholder="Difficulty">
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                                <option>Expert</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label for="cooking-style"><strong>Cooking Technique</strong></label>
                            <select type="text" name="cooking-style" class="form-control" id="cooking-style" placeholder="Cooking Style">
                                <option>Roasing</option>
                                <option>Stewing</option>
                                <option>Grilling</option>
                                <option>Baking</option>
                                <option>Braising</option>
                                <option>Steaming</option>
                                <option>Frying</option>
                                <option>Deep Frying</option>
                                <option>Smoking</option>
                            </select>
                            <div class="validate"></div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label asp-for="ImageUrl"><strong>Image Url</strong></label>
                            <input asp-for="ImageUrl" class="form-control" id="img-url" placeholder="Recipe Title">
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div name="ingredients" class="form-group mt-3 mb-3">
                            <fieldset class="form-group mt-3 mb-3" id="ingredients-fieldset">
                                <legend for="ingredients"><strong>Ingredients</strong></legend>
                                    
                                <ul name="ingredients" class="form-group mt-3 mb-3">
                                    @for (int i = 0; i < Model.Components.Count; i++)
                                    {
                                        <li asp-for="ComponentInputModel" name="ingredients-row" class="row mt-3 mb-3" id="ingredients-row">
                                            <div class="col-lg-4 col-md-6">
                                                <label><strong>Ingredient Name</strong></label>
                                                <input asp-for="Components[i].IngredientName" class="form-control" placeholder="25g">
                                                <span asp-validation-for="Components[i].IngredientName" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label><strong>Ingredient Quantity</strong></label>
                                                <input asp-for="Components[i].Quantity" class="form-control" placeholder="Carbs">
                                                <span asp-validation-for="Components[i].Quantity" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label><strong>Units</strong></label>
                                                <select asp-for="Components[i].Unit" class="form-control">
                                                    <option>---</option>
                                                    <option>gr</option>
                                                    <option>kg</option>
                                                    <option>ml</option>
                                                    <option>l</option>
                                                    <option>tbsp</option>
                                                    <option>tsp</option>
                                                    <option>cup</option>
                                                    <option>oz</option>
                                                </select>
                                            </div>
                                        </li>
                                    }
                                    @for (int i = 0; i < Model.Sections.Count; i++)
                                    {
                                        <ul name="sections" class="form-group mt-3 mb-3">
                                            <label asp-for="Sections[i].SectionName"><strong>Section Name</strong></label>
                                            <input asp-for="Sections[i].SectionName" class="form-control" placeholder="Section Name">
                                            @for (int j = 0; j < Model.Sections[i].Components.Count; j++)
                                            {
                                                <li asp-for="ComponentInputModel" name="ingredients-row" class="row mt-3 mb-3" id="ingredients-row">
                                                    <div class="col-lg-4 col-md-6">
                                                        <label><strong>Ingredient Name</strong></label>
                                                        <input asp-for="Sections[i].Components[j].IngredientName" class="form-control" placeholder="25g">
                                                        <span asp-validation-for="Sections[i].Components[j].IngredientName" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <label><strong>Ingredient Quantity</strong></label>
                                                        <input asp-for="Sections[i].Components[j].Quantity" class="form-control" placeholder="Carbs">
                                                        <span asp-validation-for="Sections[i].Components[j].Quantity" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <label><strong>Units</strong></label>
                                                        <select asp-for="Sections[i].Components[j].Unit" class="form-control">
                                                            <option>---</option>
                                                            <option>gr</option>
                                                            <option>kg</option>
                                                            <option>ml</option>
                                                            <option>l</option>
                                                            <option>tbsp</option>
                                                            <option>tsp</option>
                                                            <option>cup</option>
                                                            <option>oz</option>
                                                        </select>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    }
                                   
                                    <button class="btn btn-md btn-primary" id="add-ingredient" type="button" onclick="AddIngredient()">Add more</button>
                                    <button class="btn btn-md btn-secondary" id="remove-ingredient">Remove</button>
                                </ul>

                                <div class="form-group mt-3 mb-3">
                                    <button class="btn btn-md btn-primary" id="add-section" type="button" onclick="AddSection()">Add Section</button>
                                    <button class="btn btn-md btn-secondary" id="remove-section">Remove Section</button>
                                </div>
                            </fieldset>
                            <div class="validate"></div>
                        </div>
                            <fieldset class="form-group mt-3 mb-3" id="nutrients-fieldset">
                            <legend for="nutrients"><strong>Nutrients Per Serving</strong></legend>

                            <ul asp-for="Nutrients" name="nutrients" class="form-group mt-3 mb-3">
                                @for (int i = 0; i < Model.Nutrients.Count; i++)
                                {
                                    <li asp-for="NutrientInputModel" name="nutrients-row" class="row mt-3 mb-3" id="nutrients-row">
                                        <div class="col-lg-4 col-md-6">
                                            <label><strong>Nutrient Quantity</strong></label>
                                            <input asp-for="Nutrients[i].Quantity" class="form-control" placeholder="25g">
                                            <span asp-validation-for="Nutrients[i].Quantity" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label><strong>Nutrient Name</strong></label>
                                            <input asp-for="Nutrients[i].Name" class="form-control" placeholder="Carbs">
                                            <span asp-validation-for="Nutrients[i].Name" class="text-danger"></span>
                                        </div>
                                    </li>
                                }
                               
                                <button class="btn btn-md btn-primary" type="button" id="add-nutrient" onclick="AddNutrient()">Add more</button>
                                <button class="btn btn-md btn-secondary" id="remove-nutrient">Remove</button>
                                </ul>
                            </fieldset>
                    </div>

                    <div class="form-group mt-3 mb-3">
                        <label asp-for="Instructions"><strong>Instructions</strong></label>
                        <textarea asp-for="Instructions" class="form-control" id="instructions" placeholder="1. Heat the oil in a medium pan over a medium heat."></textarea>
                        <span asp-validation-for="Instructions" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label asp-for="Description"><strong>Descriptioon</strong></label>
                        <textarea asp-for="Description" class="form-control" id="description" rows="5" placeholder="Descriptioon"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </form>
            </div><!-- End New Recipe Form -->

        </div>

    </div>
</section><!-- End Create a Recipe Section -->
