@using Microsoft.AspNetCore.Identity
@using OurRecipes.Data.Models;
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - OurRecipes</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!--
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    <!-- =======================================================
    * Template Name: Yummy
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <a class="logo d-flex align-items-center me-auto me-lg-0" asp-area="" asp-controller="Home" asp-action="Index">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>Mucho&Better<span>'</span>s</h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown">
                        <a asp-area="" asp-controller="Collections" asp-action="Discover"><span>Discover</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a asp-controller="Collections" asp-action="Healthy">Healthy</a></li>
                            <li class="dropdown">
                                <a asp-controller="Collections" asp-action="MealCourse"><span>Meal Course</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a asp-controller="Collections" asp-action="Breakfast">Breakfast</a></li>
                                    <li><a asp-controller="Collections" asp-action="Lunch">Lunch</a></li>
                                    <li><a asp-controller="Collections" asp-action="Dinner">Dinner</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-area="" asp-controller="Collections" asp-action="Cuisine"><span>Cuisine</span> 
                                    <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a asp-controller="Collections" asp-action="American">American</a></li>
                                    <li><a asp-controller="Collections" asp-action="Bulgarian">Bulgarian</a></li>
                                    <li><a asp-controller="Collections" asp-action="Chinese">Chinese</a></li>
                                    <li><a asp-controller="Collections" asp-action="Italian">Italian</a></li>
                                    <li><a asp-controller="Collections" asp-action="Mexican">Mexican</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-area="" asp-controller="Collections" asp-action="Seasonal">
                                    <span>Seasonal</span>
                                    <i class="bi bi-chevron-down dropdown-indicator"></i>
                                </a>
                                <ul>
                                    <li><a asp-controller="Collections" asp-action="Winter">Winter</a></li>
                                    <li><a asp-controller="Collections" asp-action="Spring">Spring</a></li>
                                    <li><a asp-controller="Collections" asp-action="Summer">Summer</a></li>
                                    <li><a asp-controller="Collections" asp-action="Autumn">Autumn</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-area="" asp-controller="Collections" asp-action="Holiday">
                                    <span>Holiday Specials</span>
                                    <i class="bi bi-chevron-down dropdown-indicator"></i>
                                </a>
                                <ul>
                                    <li><a asp-controller="Collections" asp-action="Christmas">Christmas</a></li>
                                    <li><a asp-controller="Collections" asp-action="Halloween">Halloween</a></li>
                                    <li><a asp-controller="Collections" asp-action="Easter">Easter</a></li>
                                    <li><a asp-controller="Collections" asp-action="Thanksgiving">Thanksgiving</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="Recipes" asp-action="Create">Create Recipe!</a></li>
                        <li><a asp-area="" asp-controller="Collections" asp-action="MyRecipes">My Recipes</a></li>
                        <li><a asp-area="" asp-controller="Collections" asp-action="FavouriteRecipes">My Favourites</a></li>

                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Collections" asp-action="Easy">Easy</a></li>
                        <li><a asp-area="" asp-controller="Collections" asp-action="Snacks">Snacks</a></li>
                    }
                    <li>
                        <div class="input-group ps-5">
                            <div id="navbar-search-autocomplete" class="form-outline">
                                <input type="search" id="form1" class="form-control" placeholder="Search by ingredients" />
                            </div>
                            <button type="button" class="btn btn-primary">
                                <i class="bi bi-search icon"></i>
                            </button>
                        </div>
                    </li>
                </ul>

            </nav>
            <!-- .navbar -->
            <!-- TODO: Fix responsive design for _MyLoginPartial -->

            <partial name="_MyLoginPartial" />

        </div>
    </header><!-- End Header -->

    <main id="main">

        <section class="sample-page">
            <div class="container" data-aos="fade-up">
                <p>
                    @RenderBody()
                </p>
            </div>
        </section>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>About us</h4>
                    <div class="social-links d-flex">
                        <a href="https://github.com/Mortie591" class="github"><i class="bi bi-github"></i></a>
                        <a href="/About" class="info"><i class="bi bi-info-circle-fill"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>


    <!-- Template Main JS File -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <!-- Multiselect-Dropdown: https://github.com/admirhodzic/multiselect-dropdown
    -->
    <script src="~/js/multiselect-dropdown.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>