@using OurRecipes.Data.Models;
@using OurRecipes.Models.Comments;
@model List<CommentViewModel>;

@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager

<section id="recipe-comments">
    <div class="container recipe-container-container" data-aos="fade-up">
        <div class="section-header">
            <p>Comments</p>
        </div>
        <a href="#add-comment">Add New Comment</a>
        @if (Model.Count > 0)
        {
            <ul class="comments-group">
            @foreach (var comment in Model)
            {
                    <li class="comments-group-item list-group-item-action">
                        <div>
                            <strong>@@@comment.UserName</strong>
                            <div asp-for="Content" id="comment">@comment.Content</div>
                            <a class="p-2" type="button" onclick="replies()">@comment.Replies.Count replies</a>
                            <a class="p-2" type="button" onclick="addReply()">Reply</a>
                            @if (UserManager.GetUserId(User) == comment.UserId)
                            {
                                <a class="p-2" asp-controller="Comments" asp-action="RemoveComment" asp-route-id="@comment.Id">Delete</a>
                            }
                            <partial name="_ViewReplies" model='comment.Replies'/>
                            <partial name="_AddReply" model='new ReplyInputModel{CommentId=comment.Id, UserId=UserManager.GetUserId(User),ReplyToUserName=@comment.UserName}' />
                        </div>
                </li>
            }
            </ul>
        }
        else
        {
            <div>Be the first one to add a comment!</div>
        }
            
    </div>
</section>


