@using OurRecipes.Models.Comments;
@using OurRecipes.Models.Recipes;
@model CommentInputModel;

<section id="create-recipe" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>Add <span>New</span> Comment</p>
            <h2>New Recipe</h2>
        </div>
        <div class="row gy-4">
            <form>
                <div class="form-group mt-3 mb-3">
                    <label asp-for="Content"><strong>Description</strong></label>
                    <textarea asp-for="Content" class="form-control" id="comment" rows="4" placeholder="Comment..."></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                <button type="button" class="w-100 btn btn-lg btn-secondary">Cancel</button>
            </form>
        </div>
    </div>
</section>