@using OurRecipes.Models.Comments;
@using OurRecipes.Models.Recipes;
@model List<CommentViewModel>;

<section id="create-recipe" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p><span>Comments</span></p>
        </div>
        <div class="row gy-4">
            @foreach (var comment in Model)
            {
                <strong>@comment.UserName</strong>
                <div asp-for="Content" id="comment" rows="4" placeholder="Comment..."></div>
                <a asp-action="ViewReplies">Reply</a>
            }
        </div>
    </div>
</section>
