@{
    ViewData["Title"] = "Home Page";
    
}
@Model List<RecipeCardViewModel>;
    
   <section id="chefs" class="chefs section-bg">
       <div class="container" data-aos="fade-up">
           <div class="section-header">
               <p>Our <span>Dayly</span> Suggestions</p>
               <h2>Daily recipes</h2>
           </div>
           <div class="row gy-4">
               @foreach (var element in Model)
               {
                   <a href="#" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                       <div class="chef-member">
                           <div class="member-img">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" class="img-fluid" alt="@element.Title-img">
                           </div>
                           <div class="member-info">
                                <h4>@element.Title</h4>
                               <span>@DateTime.UtcNow.ToShortDateString()</span>
                                <p>@element.Rating likes</p>
                           </div>
                       </div>
                   </a>
               }
           </div>
       </div>
   </section><!-- End New recipes section -->
